body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d29505;
    color: #fff;
    font-family: Arial, sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #014b6a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}

.cell.x::before {
    content: 'X';
    color: white;
}

.cell.circle::before {
    content: 'O';
    color: white;
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
}

.winning-message.show {
    display: flex;
}
