body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #16051a;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
}

textarea {
    resize: vertical;
}

button {
    background-color: #041f3d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #032141;
}

.genre-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.genre-btn {
    background-color: #51215f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
}

.genre-btn.selected {
    background-color: #1b3149;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #444;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.genre {
    font-size: 12px;
    background-color: #777;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
}

.rating {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.star {
    font-size: 20px;
    cursor: pointer;
    color: #ffdd57;
}

.star:hover {
    color: #ffbf00;
}
